
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

@media screen and (min-width: 768px) {
        
}

@media screen and (max-width: 767px) {

    .s1-h {
        font-family: "Roboto";
        color: White;
    }

    .s1-p {
        font-family: Caveat;
        font-weight: 700;
        color: gold;
    }
    .s1-box {
        width: 300px;
    }
}

nav {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navbar-dark {
    background-color: rgba(25, 35, 61, 0.801) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-toggler {
    border: none !important;
}

.sidebar {
    background-color: rgba(25, 35, 61, 0.801) !important;
    top: 70px !important;
    width: 300px !important;
}

.offcanvas {
    width: 100% !important;
    height: 90vh !important;
}

.offcanvas-body {
    width: 100% !important;
}

.offcanvas-title {
    color: white !important;
    font-family: "Caveat";
    font-size: 2rem
}

.close-btn {
    color: white !important;
}

main {
    width: 100%;
    margin-top: 200px;
}

.bgppimg {
    width: 100%;
}

.intro_welc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.loginBtn {
    background-color: cyan !important; 
    color: #000 !important; 
    font-family: Roboto !important;
    width: 200px !important;
}

.signupBtn {
    border: 1px solid cyan !important; 
    color: cyan !important;
    width: 200px !important;
}

.navbar-brand {
    font-family: Caveat !important; 
    font-size: 2em !important; 
    color: cyan !important;
}

@media screen and (max-width: 470px) {
    .signupBtn {
        width: 120px !important;
    }
    .loginBtn {
        width: 120px !important;
    }
}

@media screen and (min-width: 995px) {
    .signupBtn {
        width: 70px !important;
    }
    .loginBtn {
        width: 70px !important;
    }
}